@import "smart-grid.less";
@import "var.less";

.reset();

.wrapper {  // центрущая обертка
	.wrapper();
}

.body {
	box-sizing: border-box;
}

.slblock {  
  &__wrapper {        
    display: flex;
  }
  &__slider {
    border: @border;
    display: flex;    
    justify-content: center;
    height: 500px;    
    width: 100%;
    img {      
      border: @border;
      height: 100%;
      width: 100%;
    }
  }

}
